#count {
    font-style: bold;
    display: inline;
}
#logo {
    width: 200px;
    height: 200px;
    background: url(task_2/assets/holberton-logo.jpg) no-repeat;
    background-size: 200px 200px;
}
