/* table {
    display: table;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
} */

th {
    text-align: center;
    border-bottom: 1px solid black;
}

th[colSpan="2"] {
    text-align: center;
    border: 1px solid black;
    padding-bottom: 1rem;
}

/* Language: css */
