:root {
    --primary-color: #E11D3F;
    font: 18px Helvetica, Arial, sans-serif;
}

.notifications {
    border: 2px dashed var(--primary-color);
    padding: 10px;
    margin: 10px;
}

li[data-priority="default"] {
    color: blue;
}
li[data-priority="urgent"] {
    color: red;
}


/* Language: css */
